* {
	box-sizing: border-box;
	user-select: none;
}

body {
	background: linear-gradient(to  right, #333, #216D6A);
	color: #ddd;
	width: 100%
}

section.top {
	width: 100%;
	background-color: #2ECCA4;
	min-height: 100px;
	box-shadow: 2px 0px 10px #eee;
	padding: 20px;
	text-shadow: 2px 2px #666;
}

.title {
	font-size: 50px;
	text-align: center;
	line-height: 60px;
}

.author {
	font-size: 20px;
	text-align: center;
}

.container {
	padding: 50px;
	position: relative;
	top: 30px;
	height: auto;
	margin: auto;
	max-width: 1300px;
}

.container section:not(.alert) {
	margin: auto;
}

.alert {
	background-color: #CBEA2E;
	display: inline-block;
	max-width: 600px;
	color: #585D3E;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 8px 5px 10px 5px #333;
	border: 3px solid #333;
	/*float: left;*/
}

.alert h3, .minreq h3, .panduan h3 {
	font-size: 35px;
	color: #9A1955;
	margin-bottom: 10px;
	text-align: center;
	text-shadow: 2px 1px #666;
}

.alert p {
	text-indent: 20px;
	text-align: center;
}

.minreq {
	float: left;
	background-color: white;
	max-width: 600px;
	color: #585D3E;
	border-radius: 20px;
	padding: 30px;
	box-shadow: 8px 5px 10px 5px #333;
	border: 3px solid #333;
	transform: translate(40px, 30px);
}

.minreq ul li {
	list-style-type: square;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.minreq li {
	list-style-type: circle;
}

.panduan {
	float: right;
	background-color: skyblue;
	max-width: 600px;
	border-radius: 20px;
	padding: 30px;
	box-shadow: 8px 5px 10px 5px #333;
	border: 3px solid #333;
	transform: translateY(20px);
}

.panduan ul li ul {
	list-style-type: circle;
	list-style-position: inside;
	text-indent: 20px;
}

.panduan ul li ul a {
	color: green;
}

.panduan li a {
	text-decoration: none;
}

.panduan li a:hover {
	text-decoration: underline;
}

.lns{
	list-style-type: none;
	color: #222;
}

footer {
	position: relative;
	bottom: -80px;
	text-align: center;
	width: 100%;
	background-color: black;
	height: 60px;
}

.content {
	line-height: 60px;
}

